.advantages {
  position: relative;
  background: @whitesmoke-color url("../img/bg-triangle-white.svg") no-repeat;
  background-size: 100% 30px;
  background-position: 0 220px;
  overflow: hidden;

  @media @tablet-widths {
    background-size: 100% 50px;
    background-position: 0 240px;
  }

  @media @desktop-widths {
    background-size: 100% 100px;
    background-position: 0 320px;
  }
}

.advantages__wrapper {
  .container ();
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: center 500px;
  background-repeat: no-repeat;

  @media (min-width: 320px) and (min-resolution: 144dpi), (min-width: 320px) and (min-resolution: 1.5dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px 320px;
  }

  @media @tablet-widths {
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: 0 0;

    @media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 320px) and (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px 481px;
    }
  }

  @media @desktop-widths {
    background: none;
  }
}

.advantages__wrapper--proposals {
  background: none;
}

.advantages__proposal {
  margin-bottom: 33px;
  text-align: center;
  font-size: 24px;
  line-height: 27px;
  font-weight: @light;

  @media @tablet-widths {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 40px;
  }

  @media @desktop-widths {
    margin-bottom: 0;
    font-size: 50px;
    line-height: 60px;
  }
}

.advantages__proposal:nth-child(2) {
  margin-bottom: 0;
}

.advantages__proposals {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;

  @media @tablet-widths {
    padding-top: 50px;
    padding-bottom: 55px;
  }

  @media @desktop-widths {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.advantages__list {
  .list-clear-indent();
  padding-top: 77px;
  padding-bottom: 320px;
  padding-left: 10px;
  padding-right: 10px;

  @media @tablet-widths {
    width: 320px;
    margin-left: auto;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  @media @desktop-widths {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0;
    padding-top: 10px;
  }
}

.advantages__title {
  margin: 0;
  padding-bottom: 12px;
  font-weight: @bold;
  text-align: center;
  font-size: 18px;
  line-height: 24px;

  @media @tablet-widths {
    text-align: left;
  }

  @media @desktop-widths {
    width: 240px;
    margin: 0 auto;
    padding-bottom: 25px;
    padding-top: 351px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__descr {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: @regular;
  text-align: center;

  @media @tablet-widths {
    text-align: left;
  }

  @media @desktop-widths {
    padding-left: 16px;
    padding-right: 18px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

.advantages__descr br {
  @media @tablet-widths {
    display: none;
  }
}

.advantages__item {
  margin-bottom: 30px;

  @media @tablet-widths {
    margin-bottom: 35px;
  }

  @media @desktop-widths {
    flex-basis: 280px;
    margin-bottom: 0;

    &:first-child {
      background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat top center;

      @media (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
        background: url("../img/iphone-screen-1-desktop@2x.png") no-repeat top center;
        background-size: 292px 302px;
      }
    }

    &:nth-child(2) {
      background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat top center;

      @media (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
        background: url("../img/iphone-screen-2-desktop@2x.png") no-repeat top center;
        background-size: 292px 302px;
      }
    }

    &:last-child {
      background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat top center;

      @media (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
        background: url("../img/iphone-screen-3-desktop@2x.png") no-repeat top center;
        background-size: 292px 302px;
      }

    }
  }
}


.advantages__item:last-child {
  margin-bottom: 0;
}
