.advantages {
  position: relative;
  overflow: hidden;
  background-color: @whitesmoke-color;
  background-position: 0 0px;
  background-size: 100%;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/bg-triangle-white.svg") no-repeat 0 0;
    top: 150px;
    z-index: -1;
  }


  @media @tablet-widths {
    &::before {
      top: 200px;
    }
  }

  @media @desktop-widths {
    &::before {
      top: 320px;
    }
  }
}

.advantages__wrapper {
  .container ();
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: center 540px;
  background-repeat: no-repeat;

  @media (min-width: 320px) and (min-resolution: 144dpi), (min-width: 320px) and (min-resolution: 1.5dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px 320px;
  }

  @media @tablet-widths {
    background-position: 0 30px;
    background-repeat: no-repeat;
    background-size: 270px 540px;
  }

  @media @desktop-widths {
    background: none;
  }
}

.advantages__wrapper--proposals {
  background: none;
}

.advantages__proposal {
  margin-bottom: 33px;
  text-align: center;
  font-size: 24px;
  line-height: 27px;
  font-weight: @light;

  @media @tablet-widths {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 40px;
  }

  @media @desktop-widths {
    margin-bottom: 0;
    font-size: 50px;
    line-height: 60px;
  }
}

.advantages__proposal:nth-child(2) {
  margin-bottom: 0;
}

.advantages__proposals {
  padding-top: 40px;
  background-color: #ffffff;

  @media @tablet-widths {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  @media @desktop-widths {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.advantages__list {
  .list-clear-indent();
  padding-top: 115px;
  padding-bottom: 320px;
  padding-left: 10px;
  padding-right: 10px;

  @media @tablet-widths {
    width: 320px;
    margin-left: auto;
    padding-top: 95px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  @media @desktop-widths {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0;
    padding-top: 10px;
  }
}

.advantages__title {
  margin: 0;
  padding-bottom: 12px;
  font-weight: @bold;
  text-align: center;
  font-size: 18px;
  line-height: 24px;

  @media @tablet-widths {
    text-align: left;
  }

  @media @desktop-widths {
    width: 240px;
    margin: 0 auto;
    padding-bottom: 25px;
    padding-top: 51px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__descr {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: @regular;
  text-align: center;

  @media @tablet-widths {
    text-align: left;
  }

  @media @desktop-widths {
    padding-left: 16px;
    padding-right: 18px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

.advantages__descr br {
  @media @tablet-widths {
    display: none;
  }
}

.advantages__item {
  margin-bottom: 30px;

  @media @tablet-widths {
    margin-bottom: 35px;
  }

  @media @desktop-widths {
    flex-basis: 280px;
    margin-bottom: 0;
  }
}

.advantages__item img {
  display: none;

  @media @desktop-widths {
    display: block;
  }
}

.advantages__item:last-child {
  margin-bottom: 0;
}
