.custom-btn {
  display: block;
  padding: 16px 0;
  width: 280px;
  font-size: 18px;
  line-height: 18px;
  font-weight: @bold;
  color: #ffffff;
  border-radius: 30px;
  text-align: center;
  background-color: transparent;
  border: 2px solid #ffffff;
  text-decoration: none;

}

.custom-btn--post,
.custom-btn--cancel-post {
  border: 2px solid;
  color: @crimson-color;

  @media @desktop-widths {
    width: 180px;
  }
}

.custom-btn--download {
  margin-bottom: 20px;

  @media @tablet-widths {
    margin-bottom: 35px;
    width: 295px;
  }

  @media @desktop-widths {
    font-size: 21px;
    line-height: 18px;
    margin-bottom: 55px;
  }
}
