.custom-btn {
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: @bold;
  color: #ffffff;
  width: 280px;
  padding: 16px 0;
  border-radius: 30px;
  text-align: center;
  background-color: transparent;
  border: 2px solid #ffffff;
  text-decoration: none;
}
//кнопки временно имеют одинаковый вид!!
.custom-btn--post,
.custom-btn--cancel-post {
  border: 2px solid @crimson-color;
  color: @crimson-color;
}
.custom-btn--download {
  margin-bottom: 20px;
}
