.download {
  min-height: 270px;
  background-color: @darkviolet-color;

  @media @tablet-widths {
    .container();
    position: relative;
    z-index: 10;
    margin-top: -540px;
    margin-bottom: 80px;
    background-color: transparent;
  }

  @media @desktop-widths {
    margin-top: -650px;
    margin-bottom: 90px;
  }
}

.download__text {
  display: none;

  @media @tablet-widths {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 200px;
    font-size: 40px;
    color: #ffffff;
    line-height: 50px;
    font-weight: @light;
    text-align: center;

    @media @desktop-widths {
      width: 250px;
      margin-bottom: 50px;
      font-size: 50px;
      line-height: 60px;
    }
  }
}

.download__markets {
  display: flex;
  justify-content: center;
}

.download__link {
  display: block;
  margin-top: 8px;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;

  &:first-child {
    background-position-x: 0;
  }

  &:last-child {
    background-position-x: 25px;
  }
}

.download__link--apple {
  background-image: url("../img/logo-apple.svg");
}

.download__link--android {
  background-image: url("../img/logo-android.svg");
}

.download__link--microsoft {
  background-image: url("../img/logo-microsoft.svg");
}

.download__wrapper {
  @media @mobile-widths-only {
    .container();
    padding-top: 30px;
  }

  @media @tablet-widths {
    width: 300px;
    padding-top: 15px;
  }

  @media @desktop-widths {
    padding-top: 15px;
  }
}

.download__descr {
  margin-top: 15px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;

  @media @tablet-widths {
    margin-top: 28px;
    font-size: 18px;
    line-height: 24px;
    font-weight: @light;
  }

  @media @desktop-widths {
    margin-top: 45px;
    font-size: 18px;
  }
}
