.feed {
  //min-height: 2490px;
  box-sizing: border-box;
}

.feed__promo-text {
  .container();
  padding-top: 45px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 49px;
  text-align: center;
  box-sizing: border-box;

  @media @tablet-widths {
    padding-top: 90px;
    margin-bottom: 75px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 18px;
    line-height: 30px;
    font-weight: @regular;
  }

  @media @desktop-widths {
    padding-left: 175px;
    padding-right: 175px;
    margin-bottom: 91px;
    font-size: 18px;
    line-height: 30px;
  }
}

.feed__content {
  display: flex;
  flex-direction: column;

  @media @tablet-widths {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.feed__wrapper {
  .container();
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

  @media @tablet-widths {
    flex-direction: row;
    justify-content: space-between;
  }
}

.feed__wrapper--panorama {
  @media @tablet-widths {
    flex-direction: row-reverse;
  }
}
