.feed {
  //min-height: 2490px;
}

.feed__promo-text {
  .container();
  padding-top: 45px;
  margin-bottom: 49px;
  text-align: center;
  @media @tablet-widths {
    width: 450px;
    padding-top: 90px;
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 30px;
    font-weight: @regular;
  }
}
.feed__content {
  display: flex;
  flex-direction: column;
  @media @tablet-widths {
    flex-direction: row;
    flex-wrap: wrap;
  }

}
