.photo-editor__text {
  margin: 0 auto;
  .container();
  padding-top: 25px;
  padding-bottom: 45px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  text-align: center;

  @media @tablet-widths {
    padding-top: 45px;
    padding-bottom: 75px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    line-height: 30px;
  }

  @media @desktop-widths {
    padding-top: 6px;
    padding-bottom: 60px;
  }
}

.photo-editor__wrapper {
  .container();
  display: flex;
  flex-direction: column;
  padding-top: 15px;


  @media @tablet-widths {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 51px;
  }

  @media @desktop-widths {
    box-sizing: border-box;
    padding-left: 80px;
    padding-right: 60px;
    padding-top: 60px;
    background: @whitesmoke-color;
  }
}

.photo-editor__controls {
  @media @tablet-widths {
    width: 272px;
  }

  @media @desktop-widths {
    width: 410px;
  }
}

.photo-editor__filters {
  display: flex;
  padding-top: 40px;
  padding-bottom: 35px;
  flex-direction: row;
  justify-content: center;

  @media @tablet-widths {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
}

.photo-editor__filter {
  position: relative;
  padding-bottom: 30px;
  margin: 0 12px;

  @media @tablet-widths {
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin-left: 0;
    margin-bottom: 15px;
    width: 100%;
    min-height: 55px;
  }

  @media @desktop-widths {
    margin-bottom: 16px;
  }
}

.photo-editor__btn {
  width: 57px;
  height: 47px;
  padding: 0;
  border: none;
  background: transparent no-repeat;
  opacity: 0.3;
  cursor: pointer;
  background-position: center;

  &:hover {
   opacity: 0.5;
 }

  &--crop {
    background-image: url("../img/icon-editor-crop.svg");
  }

  &--fill {
    background-image: url("../img/icon-editor-fill.svg");
  }

  &--contrast {
    background-image: url("../img/icon-editor-contrast.svg");
    background-position: center;
  }

  @media @tablet-widths {
    width: 23px;
    height: 42px;
    background-size: 24px 26px;
    background-position: center;
    opacity: 1;

    &:hover {
      opacity: 1;
    }

    &--crop {
      background-image: url("../img/icon-editor-crop-active.svg");
    }

    &--fill {
      background-image: url("../img/icon-editor-fill-active.svg");
    }

    &--contrast {
      background-image: url("../img/icon-editor-contrast-active.svg");
      background-position: center;
      background-size: 70%;
    }
  }

  @media @desktop-widths {
    width: 48px;
    height: 45px;

    &--crop,
    &--fill {
      background-size: cover;
    }
  }
}

.photo-editor__btn--active.photo-editor__btn {
  opacity: 1;

  &--crop {
    background-image: url("../img/icon-editor-crop-active.svg");
  }

  &--fill {
    background-image: url("../img/icon-editor-fill-active.svg");
  }

  &--contrast {
    background-image: url("../img/icon-editor-contrast-active.svg");
  }
}

.photo-editor__scale {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 240px;
  height: 2px;
  background-color: black;
  transform: translate(-15px, 0);

  @media @tablet-widths {
    top: 20px;
    left: 65px;
    width: 205px;
  }

  @media @desktop-widths {
    left: 105px;
    width: 290px;
  }
}

.photo-editor__toggle {
  position: absolute;
  bottom: -6px;
  right: 30px;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid @crimson-color;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;

  &:active {
  background-color: @crimson-color;
  }


  @media @tablet-widths {
    &--crop {
      right: 45px;
    }

    &--fill {
      right: 165px;
    }

    &--contrast {
      right: 95px;
    }
  }

  @media @desktop-widths {
    &--crop {
      right: 205px;
    }

    &--fill {
      right: 25px;
    }

    &--contrast {
      right: 115px;
    }
  }
}

.photo-editor__scale--hidden {
  display: none;

  @media @tablet-widths {
    display: block;
  }
}

.photo-editor__upload {
  padding-top: 35px;
  padding-bottom: 40px;

  @media @tablet-widths {
    padding-top: 55px;
    padding-bottom: 45px;
  }

  @media @desktop-widths {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 135px;
    padding-bottom: 50px;
  }
}

.photo-editor__upload-btn:first-child {
  margin-bottom: 10px;

  @media @tablet-widths {
    margin-bottom: 25px;
  }

  @media @desktop-widths {
    margin-bottom: 0;
  }
}

.photo-editor__console {
  background: @whitesmoke-color;

  @media @desktop-widths {
    margin-bottom: 30px;
    background: none;
  }
}
