.photo-editor__text {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 45px;
  text-align: center;

  @media @tablet-widths {
    padding-top: 70px;
    padding-bottom: 25px;
    font-size: 18px;
    line-height: 30px;
  }
  @media @desktop-widths {
    padding-top: 30px;
  }
}

.photo-editor__wrapper {
  .container();
  display: flex;
  flex-direction: column;
  padding-top: 45px;

  @media @tablet-widths {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
  }
@media @desktop-widths {
  box-sizing: border-box;
    padding-left: 80px;
    padding-right: 60px;
}

}

.photo-editor__filters {
  display: flex;
  padding-top: 40px;
  padding-bottom: 35px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  outline: 2px solid green;

  @media @tablet-widths {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
}

.photo-editor__filter {
  position: relative;
  margin-left: 33px;
  padding-bottom: 30px;
  width: 100%;
  outline: 2px solid orange;

  @media @tablet-widths {
    padding: 0;
    margin-left: 0;
    margin-bottom: 15px;
  }
}

.photo-editor__btn {
  width: 48px;
  height: 47px;
  padding: 0;
  border: none;
  background: transparent no-repeat;
  opacity: 0.3;
  outline: 2px solid red;
  cursor: pointer;
}

.photo-editor__scale {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 240px;
  height: 2px;
  background-color: black;
  transform: translate(-15px, 0px);

  @media @tablet-widths {
    top: 20px;
    left: 75px;
    width: 205px;
  }
  @media @desktop-widths {
    left: 105px;
    width: 290px;
  }
}

.photo-editor__toggle {
  position: absolute;
  bottom: -6px;
  right: 35px;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid @crimson-color;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}

.photo-editor__scale--hidden {
  display: none;

  @media @tablet-widths {
    display: block;
  }
}

.photo-editor__upload {
  padding-top: 40px;
  padding-bottom: 40px;
  @media @tablet-widths {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media @desktop-widths {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 130px;
  }
}

.photo-editor__upload-btn:first-child {
  margin-bottom: 10px;

@media @tablet-widths {
  margin-bottom: 25px;
}
  @media @desktop-widths {
    margin-bottom: 0;
  }
}

.photo-editor__console {
  //min-height: 760px;
    @media @desktop-widths {
      margin-bottom: 30px;
    }
}
.photo-editor__controls {
  @media @desktop-widths {
    width: 410px;
    outline: 2px solid;
  }
}
