.post__wrapper {
  .container();
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.post:not(:first-child) {
  @media @tablet-widths {
    width: 300px;
  }
}

.post__author {
  margin: 0;
  padding-top: 23px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: @bold;
}

.post__text {
  margin: 0;
  padding-left: 20px;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 24px;
}

.post__likes {
  padding-left: 50px;
}

.post:not(:last-child) {
  //min-height: 300px;
  margin-bottom: 14px;
}

.post__photo--panorama {
  @media @mobile-widths-only {
    width: 320px;
    margin: 0 auto;
  }
}
