.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
  outline: 2px solid green;

  @media @tablet-widths {
    margin-bottom: 22px;
    width: 300px;
    min-height: 430px;
  }

  @media @desktop-widths {
    margin-bottom: 57px;
    min-height: 530px;
  }
}

.post__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 14px;
  padding-top: 20px;
  padding-bottom: 17px;
  outline: 2px solid;

  @media @tablet-widths {
    min-height: 115px;
    padding-left: 27px;
    padding-right: 30px;
    padding-top: 21px;
  }
}

.post__content--panorama {
  @media @tablet-widths {
    flex-direction: row-reverse;
    min-height: 80px;
  }

  @media @desktop-widths {
    min-height: 60px;
    padding-right: 40px;
  }
}

.post--panorama {
  margin-bottom: 20px;

  @media @tablet-widths {
    width: auto;
    margin-bottom: 51px;
  }

  @media @desktop-widths {
    margin-bottom: 47px;
  }
}

.post__author {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: @bold;
}

.post__text {
  margin: 0;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 24px;
}

.post__likes {
  display: block;
  padding-left: 35px;
  background: url("../img/icon-heart.svg") no-repeat 5px 10px;

  @media @tablet-widths {
    margin-top: auto;
    padding-left: 0;
    background-position-x: 230px;
    background-position-y: 5px;

    &--popular {
      margin-top: 0;
      padding-right: 25px;
      order: -1;
      background-position-x: 102px;
      background-position-y: 10px;
    }
  }
  @media @desktop-widths {
      &--popular {
    background-position-x: 105px;
    background-position-y: 6px;
      }
  }
}

.post__photo--panorama {
  position: relative;
  width: 320px;
  margin: 0 auto;
  &::after {
     content: "Панорама дня";
     position: absolute;
     top: 0;
     right: 20px;
     display: block;
     padding: 6px 20px;
     font-size: 12px;
     font-weight: 700;
     text-transform: uppercase;
     color: #ffffff;
     background-color: @crimson-color;
   }

  @media @tablet-widths {
    width: 660px;
    &::after {
      top:55px;
    }
  }

  @media @desktop-widths {
    width: 960px;
  }
}
