.post__wrapper {
  .container();
  padding-bottom: 20px;
}

.post__author {
  margin: 0;
  padding-top: 23px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: @bold;
}

.post__text {
  margin: 0;
  padding-left: 20px;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 24px;
}

.post__likes {
  padding-left: 50px;
}

.post:not(:last-child) {
  min-height: 300px;
  margin-bottom: 14px;
}
