.pricelist {
  //min-height: 510px;
  position: relative;
  background-color: @whitesmoke-color;
  overflow: hidden;

  &::before {
   content: "";
   position: absolute;
   display: block;
   width: 100%;
   height: 100%;
  background: url("../img/bg-triangle-white.svg") no-repeat 0 0;
  top: -40px;
 }
}

.pricelist__wrapper {
  .container();
  padding-top: 120px;

  @media @tablet-widths {
    padding-top: 90px;
    padding-bottom: 71px;
  }

  @media @desktop-widths {
    padding-top: 140px;
    padding-bottom: 91px;
  }
}

.pricelist__table {
  position: relative;
  width: 825px;
  left: -98%;
  border-collapse: collapse;

  @media @tablet-widths {
    left: 0;
    width: 620px;
  }

  @media @desktop-widths {
    width: 940px;
  }
}

.pricelist__title {
  position: relative;
  height: 95px;
  font-size: 18px;
  line-height: 30px;
  font-weight: @bold;
  text-align: center;
  outline: 2px solid blue;
  background: #283645;
  color: #ffffff;

  @media @tablet-widths {
    height: 75px;
  }

  @media @desktop-widths {
    height: 95px;
  }
}
.pricelist__title--popular {
  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 74px;
    height: 73px;
    background: url("../img/bg-hit.svg") no-repeat;
  }
  &::after {
    content: "хит";
    position: absolute;
    top: 10px;
    left: 10px;
    transform: rotate(-45deg);
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: @regular;
  }
  @media @tablet-widths {
    &::before {
      background: url("../img/bg-hit-tablet.svg") no-repeat;
    }
    &::after {
      top:4px;
    }
  }
}

.pricelist__title--hidden {
  display: none;

  @media @tablet-widths {
    display: table-cell;
    background: transparent;
  }
}

.pricelist__option {
  position: relative;
  height: 58px;
  width: 110px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14px;
  line-height: 30px;
  font-weight: @regular;
  border-bottom: 1px solid #e5e5e5;
  text-transform: uppercase;
  outline: 2px solid red;

  @media @tablet-widths {
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    height: 45px;
    font-size: 0;
  }

  @media @desktop-widths {
    height: 60px;
  }
}

.pricelist__option--base {
  display: none;

  @media @tablet-widths {
    display: table-cell;
    font-size: 14px;
    font-weight: @light;
    text-transform: none;
  }
}

.pricelist__icon {
  position: absolute;
  right: 15px;
  width: 30px;
  height: 25px;
  background-repeat: no-repeat;
  outline: 2px solid green;
@media @tablet-widths {
  right: 65px;
  top: 10px;
}
}

.pricelist__package {
  text-transform: uppercase;
  font-weight: @bold;
  @media @tablet-widths {
    font-size: 16px;
  }
}

.pricelist__price {
  display: block;
  font-size: 24px;
  font-weight: @light;
  text-transform: uppercase;
  @media @tablet-widths {
    font-size: 18px;
  }
}

.pricelist__controls {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;

  @media @tablet-widths {
    display: none;
  }
}
