.research {
  display: none;
  background: #ffffff;

  @media @tablet-widths {
    display: block;
  }

  @media @desktop-widths {
    background-color: @whitesmoke-color;
  }
}

.research__wrapper {
  .container ();
}

.research-inner {
  width: 300px;
  margin-left: auto;
  padding-top: 74px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;

  @media @desktop-widths {
    width: 565px;
    padding-top: 115px;
    padding-bottom: 110px;
  }
}

.research-title br {
  @media @desktop-widths {
    display: none;
  }
}

.research-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: @bold;

  @media @desktop-widths {
    margin-bottom: 25px;
  }
}

.research-descr {
  margin: 0;
  margin-bottom: 5px;
  line-height: 24px;

  @media @desktop-widths {
    width: 530px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }
}

.research-link {
  cursor: pointer;
  text-decoration: underline;
  color: @crimson-color;

  @media @desktop-widths {
    font-size: 18px;
    line-height: 30px;
  }
}
