.reviews__list {
  .list-clear-indent();
  padding-top: 45px;

  @media @tablet-widths {
    padding-top: 90px;
  }

  @media @desktop-widths {
    padding-top: 185px;
  }
}

.reviews__item {
  @media @tablet-widths {
    display: flex;
    flex-direction: column;
  }
}

.reviews__item:nth-child(n+2) {
  display: none;
}

.reviews__wrapper {
  .container();
  position: relative;

  @media @desktop-widths {
    padding-bottom: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 73px;
      left: 435px;
      display: block;
      box-sizing: border-box;
      width: 100px;
      height: 100px;
      background: url("../img/icon-quotes.svg") no-repeat 0 0;
      opacity: 0.3;
    }
  }
}

.reviews__author {
  margin: 0;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
  font-weight: @bold;
  text-align: center;

  @media @tablet-widths {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    order: 2;
  }

  @media @desktop-widths {
    font-size: 24px;
  }
}

.reviews__author-description {
  display: none;

  @media @tablet-widths {
    display: block;
    font-size: 14px;
    font-weight: @regular;
  }

  @media @desktop-widths {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: @regular;
  text-align: center;

  @media @tablet-widths {
    order: -1;
    padding-bottom: 35px;
    font-size: 18px;
  }

  @media @desktop-widths {
    width: 680px;
    margin: 0 auto;
    padding-bottom: 40px;
  }
}

.reviews__controls {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  padding-bottom: 17px;

  @media @tablet-widths {
    margin-top: 25px;
  }

  @media @desktop-widths {
    display: none;
  }
}

.reviews__toggle {
  display: none;
  width: 22px;
  height: 41px;
  border: none;
  cursor: pointer;
  opacity: 0.3;
  background-color: transparent;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  @media @desktop-widths {
    position: absolute;
    display: inline-block;
    top: 50%;
  }
}

.reviews__toggle--prev {
  left: 0;
  background-image: url("../img/icon-review-arrow-left.svg");
}

.reviews__toggle--next {
  right: 0;
  background-image: url("../img/icon-review-arrow-right.svg");
}

.reviews__quotes {
  @media @desktop-widths {
    display: none;
  }
}
