.site-nav {
  background: @darkviolet-color;

  @media @desktop-widths {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.site-nav__wrapper {
  @media @desktop-widths {
    .clearfix();
    .container();
  }
}

.site-nav__list {
  .list-clear-indent();

  @media @desktop-widths {
    float: right;
    display: inline-flex;
    justify-content: space-between;
    width: 625px;
    padding-bottom: 27px;
  }
}

.site-nav__toggle {
  position: absolute;
  top: 10px;
  right: 0;
  width: 56px;
  height: 50px;
  font-size: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  outline: none;

  @media @tablet-widths {
    top: 30px;
  }

  @media @desktop-widths {
    display: none;
  }
}

.site-nav--closed .site-nav__toggle {
  background-image: url("../img/icon-menu-burger.svg");

  &:hover {
    background-image: url("../img/icon-menu-burger-hover.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

.site-nav--opened .site-nav__toggle {
  background-image: url("../img/icon-menu-cross.svg");

  &:hover {
    background-image: url("../img/icon-menu-cross-hover.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

.site-nav--closed .site-nav__list {
  display: none;

  @media @desktop-widths {
    display: flex;
  }
}

.site-nav--closed {
  background-color: rgba(0, 0, 0, 0.3);
}

.site-nav--closed .site-nav__inner {
  border-bottom: none;
}

.site-nav--closed .site-nav__logo-item {
  background-color: transparent;
}

.site-nav--nojs .site-nav__toggle {
  display: none;
}

.site-nav--nojs .site-nav__item {
  display: block;
}

.site-nav__link {
  display: block;
  position: relative;
  padding-top: 16px;
  padding-bottom: 14px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: @bold;
  color: #ffffff;

  &:hover {
    color: @crimson-color;
  }

  &:active {
    opacity: 0.3;
  }

  @media @tablet-widths {
    font-size: 18px;
    line-height: 32px;
  }

  @media @desktop-widths {
    padding-top: 46px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 18px;
    font-weight: @regular;
    text-transform: none;
    text-align: left;
  }
}

.site-nav__link--active {
  @media @desktop-widths {
    border-bottom: 1px solid #ffffff;
  }
}

.site-nav__item {
  text-align: center;
  border-bottom: 1px solid @dimgray-color;
  border-top: 1px solid #485461;

  @media @desktop-widths {
    display: inline-block;
    border-bottom: 0;
  }
}

.site-nav__inner {
  display: flex;
  align-items: center;
  padding-left: 20px;
  min-height: 70px;
  border-bottom: 1px solid @dimgray-color;
  border-top: 1px solid #485461;
  box-sizing: border-box;

  @media @tablet-widths {
    min-height: 110px;
  }

  @media @desktop-widths {
    float: left;
    width: 160px;
    padding-left: 0;
    border-bottom: none;
  }
}
.site-nav__inner svg {
  height: 23px;
  width: 74px;

  @media @tablet-widths {
    height: 40px;
    width: 146px;
  }
}

.site-nav__logo {

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }

    @media @tablet-widths {
      &--tablet {
        display: block;
      }
      &--mobile {
        display: none;
    }

}
@media @desktop-widths {
  &--tablet {
    display: none;
}
  &--desktop {
    display: block;
  }
}
}

.site-nav__inner a:hover .site-nav__logo-word,
.site-nav__inner a:hover .site-nav__logo-glasses {
  fill: @crimson-color;
}

.site-nav__inner a:active .site-nav__logo-word,
.site-nav__inner a:active .site-nav__logo-glasses {
  opacity: 0.3;
}
