.site-header--index {
  min-height: 720px;
}
.site-header {
  min-height: 495px;
  background-color: @darkviolet-color;
}

.site-header__demo-img {
  margin-top: 110px;
  width: auto;
    @media @tablet-widths {
     min-height: 545px;
     margin-top: 73px;
    }
}
.site-header__demo-img img {
  @media @tablet-widths {
    transform: translate(170px, 0);
}
}

.site-header__title {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 82px;
  font-size: 24px;
  line-height: 30px;
  font-weight: @light;
  text-align: center;
  color: #ffffff;
}
.site-header__title--form {
  padding-bottom: 50px;
}
