.site-footer--index {
  min-height: 615px;
}
.site-footer {
  min-height: 285px;
}
.site-footer__question {
  margin: 0;
  padding-top: 35px;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: @light;
  @media @tablet-widths {
    width: 420px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 47px;
    padding-top: 45px;
    font-weight: @light;
  }
}
.site-footer__list {
  .list-clear-indent();
  padding-top: 30px;
  @media @tablet-widths {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
}
.site-footer__action {
  font-size: 18px;
  line-height: 30px;
  font-weight: @bold;
}
.site-footer__contact {
  display: block;
  font-size: 24px;
  line-height: 24px;
  font-weight: @light;
  color: @crimson-color;
}
.site-footer__item {
  text-align: center;
  margin-bottom: 18px;
    @media @tablet-widths {
    padding-left: 35px;
    padding-right: 25px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    padding-top: 13px;
    }
}
.site-footer__item:last-child {
  margin-bottom: 0;
}
.site-footer__logo {
  padding-top: 52px;
  margin-bottom: 40px;
  text-align: center;
}
.site-footer__logo--photo {
  padding-top: 32px;
}
.site-footer__social {
  display: flex;
  justify-content: center;
  margin-bottom: 39px;
}
.site-footer__link {
  margin: 0 5px;
}
.site-footer__copyright {
  padding-left: 85px;
  padding-bottom: 40px;
  line-height: 18px;
}
.site-footer__copyright a {
  display: inline-block;
  width: 50px;
  height: 40px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  outline: 2px solid red;
}
.site-footer__inner--index {
  display: none;
    @media @tablet-widths {
      display: block;
    }
}
