.site-header--index {
  min-height: 720px;
}
.site-header {
  min-height: 495px;
}

.site-header__demo-img {
  margin-top: 110px;
  width: auto;
}
.site-header__title {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 82px;
  color: black;
  font-size: 24px;
  line-height: 30px;
  font-weight: @light;
  text-align: center;
}
.site-header__title--form {
  padding-bottom: 50px;
}
