.site-header--index {
  //min-height: 720px;
}

.site-header__wrapper {
  @media @tablet-widths {
    .container();
  }
}

.site-header {
  //min-height: 495px;
  background: @darkviolet-color url("../img/bg-back-mobile@1x.jpg") no-repeat center bottom;

  &--inner {
    background-position: center bottom -222px;
  }

  @media @tablet-widths {
    background-position: 0 0;
    background-size: cover;
  }
}

.site-header__demo-img {
  @media @mobile-widths-only {
    margin: 0 auto;
    margin-top: 110px;
    width: 320px;
  }

  @media @tablet-widths {
    min-height: 545px;
    margin-top: 73px;
    width: 470px;
    margin-left: auto;
  }

  @media @desktop-widths {
    min-height: 545px;
    margin-top: 93px;
    width: 595px;
  }
}

.site-header__title {
  .container();
  padding-top: 27px;
  padding-bottom: 82px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: @light;
  text-align: center;
  color: #ffffff;
}

.site-header__title--form {
  padding-bottom: 55px;

  @media @tablet-widths {
    width: 500px;
    margin: auto;
    padding-top: 74px;
    padding-bottom: 80px;
    font-size: 50px;
    line-height: 58px;
    font-weight: @light;
  }

  @media @desktop-widths {
    width: 800px;
    padding-top: 64px;
    padding-bottom: 100px;
  }
}

.site-header__title--photo {
  @media @tablet-widths {
    width: 350px;
    padding-top: 74px;
    padding-bottom: 140px;
    font-size: 50px;
    line-height: 58px;
    font-weight: @light;
  }

  @media @desktop-widths {
    padding-top: 64px;
    padding-bottom: 100px;
  }
}
