.slider-controls__toggle {
  width: 12px;
  height: 12px;
  margin-right: 9px;
  padding: 0;
  border: 3px solid #ffffff;
  border-radius: 50%;
  background-color: @silver-color;
  cursor: pointer;
  outline: none;

  &--price {
    border-color: @whitesmoke-color;
  }

  &--active {
   background-color: #ffffff;
   border: 3px solid @darkviolet-color;
 }

 &:last-child {
   margin-right: 0;
 }
}
