.slider-controls__toggle {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
     content: "";
     position: absolute;
     width: 7px;
     height: 7px;
     bottom: 6px;
     left: 6px;
     border-radius: 50%;
     background-color: @silver-color;
     display: block;
   }

  &--active {
    &::before {
    border: 3px solid @darkviolet-color;
    bottom: 3px;
  }
}

  &:last-child {
    margin-right: 0;
  }
}
